################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Lekcja11/bin/Debug/netcoreapp3.1
/Lekcja11/obj
